<p id="notice"><%= notice %></p>

<style>
  @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
</style>

<h1 class="ui header center aligned" id="headline">BillBoard&trade; Top Charts</h1>
<br />
<div class="ui divider"></div>

<div class="ui grid">
  <% @boards.each do |board| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="content">
          <%= link_to "#{board.name} #{board.rank}", board, class: "header" %>
          <div class="meta">
            <span>As of 11/30/17</span>
            <a>Test</a>
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="basic green button">
              <%= link_to 'Edit', edit_board_path(board) %>
            </div>
            <div class="basic red button">
              <%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="ui divider"></div>
<br>
<button class="ui basic button" id="new-chart-butter">
  <%= link_to 'New Board', new_board_path %>
  </button>
